
/* Imported Components */
@import 'components/typography.css';
@import 'components/colors.css';
@import 'components/levels.css';
@import 'components/layout.css';
@import 'components/grid.css';
@import 'components/header.css';
@import 'components/footer.css';
@import 'components/drawer.css';
@import 'components/button.css';
@import 'components/field.css';
@import 'components/navigation.css';
@import 'components/card.css';
@import 'components/backdrop.css';
@import 'components/toggle.css';
@import 'components/quote.css';

/* Global Variables */
:root {
	/* Gutter */
	--gutter: 16px;
	/* Grid */
	--grid-columns: 12;
	--gridcell-1:   8.3333333333%;  --gridcell-1:  calc(100% / var(--grid-columns, 12)); 
	--gridcell-2:   16.6666666666%; --gridcell-2:  calc(100% / var(--grid-columns, 12) * 2);
	--gridcell-3:   25%;            --gridcell-3:  calc(100% / var(--grid-columns, 12) * 3);
	--gridcell-4:   33.3333333333%; --gridcell-4:  calc(100% / var(--grid-columns, 12) * 4);
	--gridcell-5:   41.6666666666%; --gridcell-5:  calc(100% / var(--grid-columns, 12) * 5);
	--gridcell-6:   50%;            --gridcell-6:  calc(100% / var(--grid-columns, 12) * 6);
	--gridcell-7:   58.3333333333%; --gridcell-7:  calc(100% / var(--grid-columns, 12) * 7);
	--gridcell-8:   66.6666666666%; --gridcell-8:  calc(100% / var(--grid-columns, 12) * 8);
	--gridcell-9:   75%;            --gridcell-9:  calc(100% / var(--grid-columns, 12) * 9);
	--gridcell-10:  83.3333333333%; --gridcell-10: calc(100% / var(--grid-columns, 12) * 10);
	--gridcell-11:  91.6666666666%; --gridcell-11: calc(100% / var(--grid-columns, 12) * 11);
	--gridcell-12:  100%;           --gridcell-12: calc(100% / var(--grid-columns, 12) * 12);
	/* Levels - Elevation */ 
	--level--z-index-offset: 100;
	--level-0--z-index:      0;    
	--level-1--z-index:      100;  --level-1--z-index:  var(--level--z-index-offset, 100);
	--level-2--z-index:      200;  --level-2--z-index:  calc(var(--level--z-index-offset, 100) * 2);
	--level-3--z-index:      300;  --level-3--z-index:  calc(var(--level--z-index-offset, 100) * 3);
	--level-4--z-index:      400;  --level-4--z-index:  calc(var(--level--z-index-offset, 100) * 4);
	--level-5--z-index:      500;  --level-5--z-index:  calc(var(--level--z-index-offset, 100) * 5);
	--level-6--z-index:      600;  --level-6--z-index:  calc(var(--level--z-index-offset, 100) * 6);
	--level-7--z-index:      700;  --level-7--z-index:  calc(var(--level--z-index-offset, 100) * 7);
	--level-8--z-index:      800;  --level-8--z-index:  calc(var(--level--z-index-offset, 100) * 8);
	--level-9--z-index:      900;  --level-9--z-index:  calc(var(--level--z-index-offset, 100) * 9);
	--level-10--z-index:     1000; --level-10--z-index: calc(var(--level--z-index-offset, 100) * 10);
	/* Levels - Shadow */ 
	--level--ambiance:  0px 0px 2px 1px rgba(0, 0, 0, 0.1);
	--level-1--shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	--level-2--shadow:  0px 2px 2px 0px rgba(0, 0, 0, 0.13);
	--level-3--shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.16);
	--level-4--shadow:  0px 4px 4px 1px rgba(0, 0, 0, 0.2);
	--level-5--shadow:  0px 5px 5px 1px rgba(0, 0, 0, 0.23);
	--level-6--shadow:  0px 6px 6px 1px rgba(0, 0, 0, 0.26);
	--level-7--shadow:  0px 7px 7px 2px rgba(0, 0, 0, 0.3);
	--level-8--shadow:  0px 8px 8px 2px rgba(0, 0, 0, 0.33);
	--level-9--shadow:  0px 9px 9px 2px rgba(0, 0, 0, 0.36);
	--level-10--shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.4);
	/* Colors */ 
	--color-black:            black;
	--color-white:            white;
	--color-primary:          midnightblue;
	--color-primary-contrast: lightblue;
	--color-accent:           deeppink;
	--color-accent-contrast:  lightpink;
	--color-light:            whitesmoke;
	--color-light-contrast:   darkslategrey;
	--color-dark:             darkslategrey;
	--color-dark-contrast:    whitesmoke;
	--color-success:          limegreen;
	--color-success-contrast: springgreen;
	--color-info:             dodgerblue;
	--color-info-contrast:    lightskyblue;
	--color-warning:          darkorange;
	--color-warning-contrast: gold;
	--color-danger:           red;
	--color-danger-contrast:  yellow;
}
