/* Colors */

/* Black */
*[noClass] *[c="black"]              { color: black; }
*[noClass] *[b="black"]              { border-color: black; }
*[noClass] *[bg="black"]             { background-color: black; }
/* White */
*[noClass] *[c="white"]              { color: white; }
*[noClass] *[b="white"]              { border-color: white; }
*[noClass] *[bg="white"]             { background-color: white; }
/* Primary */
*[noClass] *[c="primary"]            { color: midnightblue; }
*[noClass] *[b="primary"]            { border-color: midnightblue; }
*[noClass] *[bg="primary"]           { background-color: midnightblue; }
*[noClass] *[c="primary-contrast"]   { color: lightblue; }
*[noClass] *[b="primary-contrast"]   { border-color: lightblue; }
*[noClass] *[bg="primary-contrast"]  { background-color: lightblue; }
/* Accent */
*[noClass] *[c="accent"]             { color: pink; }
*[noClass] *[b="accent"]             { border-color: pink; }
*[noClass] *[bg="accent"]            { background-color: pink; }
*[noClass] *[c="accent-contrast"]    { color: lightpink; }
*[noClass] *[b="accent-contrast"]    { border-color: lightpink; }
*[noClass] *[bg="accent-contrast"]   { background-color: lightpink; }
/* Dark */
*[noClass] *[c="dark"]               { color: darkslategrey; }
*[noClass] *[b="dark"]               { border-color: darkslategrey; }
*[noClass] *[bg="dark"]              { background-color: darkslategrey; }
*[noClass] *[c="dark-contrast"]      { color: whitesmoke; }
*[noClass] *[b="dark-contrast"]      { border-color: whitesmoke; }
*[noClass] *[bg="dark-contrast"]     { background-color: whitesmoke; }
/* Light */
*[noClass] *[c="light"]              { color: whitesmoke; }
*[noClass] *[b="light"]              { border-color: whitesmoke; }
*[noClass] *[bg="light"]             { background-color: whitesmoke; }
*[noClass] *[c="light-contrast"]     { color: darkslategrey; }
*[noClass] *[b="light-contrast"]     { border-color: darkslategrey; }
*[noClass] *[bg="light-contrast"]    { background-color: darkslategrey; }

/* Elevation */

/* levels */
*[noClass] *[level="0"]  { box-shadow: none; z-index: 0; }
*[noClass] *[level="1"]  { box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.1); z-index: 10; }
*[noClass] *[level="2"]  { box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.2); z-index: 20; }
*[noClass] *[level="3"]  { box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3), 0px 3px 3px 0px rgba(0, 0, 0, 0.3); z-index: 30; }
*[noClass] *[level="4"]  { box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4), 0px 4px 4px 1px rgba(0, 0, 0, 0.4); z-index: 40; }
*[noClass] *[level="5"]  { box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5), 0px 5px 5px 1px rgba(0, 0, 0, 0.5); z-index: 50; }
*[noClass] *[level="6"]  { box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6), 0px 6px 6px 1px rgba(0, 0, 0, 0.6); z-index: 60; }
*[noClass] *[level="7"]  { box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7), 0px 7px 7px 2px rgba(0, 0, 0, 0.7); z-index: 70; }
*[noClass] *[level="8"]  { box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8), 0px 8px 8px 2px rgba(0, 0, 0, 0.8); z-index: 80; }
*[noClass] *[level="9"]  { box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.9), 0px 9px 9px 2px rgba(0, 0, 0, 0.9); z-index: 90; }
*[noClass] *[level="10"] { box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1), 0px 10px 10px 3px rgba(0, 0, 0, 1); z-index: 100; }

/* Fix */
*[noClass] *[fix="top"]           { position: fixed; top: 0; left: 0; right: 0; z-index: 10000; }
*[noClass] *[fix="top-left"]      { position: fixed; top: 0; left: 0; z-index: 10000; }
*[noClass] *[fix="top-right"]     { position: fixed; top: 0; right: 0; z-index: 10000; }
*[noClass] *[fix="bottom"]        { position: fixed; bottom: 0; left: 0; right: 0; z-index: 10000; }
*[noClass] *[fix="bottom-left"]   { position: fixed; bottom: 0; left: 0; z-index: 10000; }
*[noClass] *[fix="bottom-right"]  { position: fixed; bottom: 0; right: 0; z-index: 10000; }

/* Contain */
*[noClass] *[contain] {
	width: 100%;
	max-width: 1200px;
	display: block;
	margin: 0 auto;
}

/* Input Placeholders */
*[noClass] ::-webkit-input-placeholder { color: inherit; opacity: 0.5; }
*[noClass] ::-moz-placeholder          { color: inherit; opacity: 0.5; }
*[noClass] :-ms-input-placeholder      { color: inherit; opacity: 0.5; }
*[noClass] :-moz-placeholder           { color: inherit; opacity: 0.5; }

/* Global */
*[noClass] * {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}

/* HTML */
*[noClass] html {
	width: 100%;
	height: 100%;
}

*[noClass] body {
	font-family: sans-serif;
    margin: 0;
    display: static;
    align-items: flex-start;
    flex-flow: column;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.5;
}

/* Paragraph */
*[noClass] p {
	margin: 0 0 16px;
	display: block;
}

*[noClass] h1 {
	font-size:36px;
	font-weight: inherit;
	margin: 0 0 16px;
}

*[noClass] h2 {
	font-size:32px;
	font-weight: inherit;
	margin: 0 0 16px;
}

*[noClass] h3 {
	font-size:28px;
	font-weight: inherit;
	margin: 0 0 16px;
}

*[noClass] h4 {
	font-size:24px;
	font-weight: inherit;
	margin: 0 0 16px;
}

*[noClass] h5 {
	font-size:18px;
	font-weight: inherit;
	margin: 0 0 16px;
}

*[noClass] h6 {
	font-size:14px;
	font-weight: inherit;
	margin: 0 0 16px;
}

/* Header & Footer */
*[noClass] header {
	position: relative;
	display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

*[noClass] header > section > h1, 
*[noClass] header > section > h2, 
*[noClass] header > section > h3, 
*[noClass] header > section > h4, 
*[noClass] header > section > h5, 
*[noClass] header > section > h6, 
*[noClass] footer > section > h1, 
*[noClass] footer > section > h2, 
*[noClass] footer > section > h3, 
*[noClass] footer > section > h4, 
*[noClass] footer > section > h5, 
*[noClass] footer > section > h6 {
	margin: 0;
	padding: 16px;
	display: inline-block;
}

*[noClass] header > section {
	padding-left: 16px;
	padding-right: 16px;
}

*[noClass] header > section > nav > ul {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

*[noClass] header > section > nav li {
    position: relative;
}

*[noClass] header > section > nav > ul > li {
    display: inline-flex;
}

*[noClass] header > section > nav > ul > li > a {
    padding: 16px;
}

*[noClass] header > section > nav > ul > li > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
}

*[noClass] header > section > nav > ul > li > ul li {
	width: 100%;
}

*[noClass] header > section > nav > ul > li > ul li a {
	height: 1.5;
	padding: 8px 16px;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

*[noClass] header > section > nav > ul > li > ul li a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

*[noClass] header > section > nav > ul > li:focus > ul, 
*[noClass] header > section > nav > ul > li:active > ul, 
*[noClass] header > section > nav > ul > li:hover > ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 200px;
}

*[noClass] header a {
	color: inherit;
}

*[noClass] footer {
	position: relative;
	display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

*[noClass] footer > section {
	padding-left: 16px;
	padding-right: 16px;
}

/* Main */
*[noClass] main {
	position: relative;
	display: flex;
    align-items: flex-start;
    flex-flow: column;
    width: 100%;
}

*[noClass] main > section {
	display: block;
	width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* Details */
*[noClass] details {

}

*[noClass] details > summary {
	cursor: pointer;
	-webkit-user-select: none;       
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;
}

/* Button */
*[noClass] button {
    background: rgba(0, 0, 0, 0.1);
    color: inherit;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    position: relative;
    min-width: 64px;
    height: 36px;
    padding: 0 16px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
	cursor: pointer;
	-webkit-user-select: none;       
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;
}

*[noClass] button[disabled], 
*[noClass] button[disabled]:hover, 
*[noClass] button[disabled]:active, 
*[noClass] button[disabled]:focus {
	background: rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.8);
	cursor: normal;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
}

*[noClass] button:hover, 
*[noClass] button:active, 
*[noClass] button:focus {
	background: rgba(0, 0, 0, 0.2);
}

/* Anchor */
*[noClass] a {
	font-weight: bolder;
	text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;       
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;
}

*[noClass] a[disabled] {
	color: rgba(0, 0, 0, 0.8);
	cursor: normal;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
}

/* Form Fields */
*[noClass] fieldset {
    border: none;
    padding: 0;
    margin: 0 0 16px;
}

*[noClass] label {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;       
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;
}

*[noClass] select, 
*[noClass] input {
	margin: 0 0 16px;
	background-color: transparent;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid;
	color: inherit;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	font-size: 18px;
}

*[noClass] select[disabled], 
*[noClass] input[disabled], 
*[noClass] select[disabled]:hover, 
*[noClass] input[disabled]:hover, 
*[noClass] select[disabled]:active, 
*[noClass] input[disabled]:active {
	cursor: normal;
} 

*[noClass] select[disabled], 
*[noClass] input[disabled], 
*[noClass] select[disabled]:hover, 
*[noClass] input[disabled]:hover, 
*[noClass] select[disabled]:active, 
*[noClass] input[disabled]:active, 
*[noClass] select, 
*[noClass] input {
	border-color: rgba(0, 0, 0, 0.1);
}

*[noClass] select:active,
*[noClass] select:focus,
*[noClass] input:active,
*[noClass] input:focus {
	border-color: inherit;
}