/* Global */
*[noclass] * {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}

*[noclass] blockquote, 
*[noclass] footer, 
*[noclass] header, 
*[noclass] div, 
*[noclass] nav, 
*[noclass] section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

*[noclass] label {
	cursor: pointer;
}

*[noclass] i, 
*[noclass] address, 
*[noclass] dfn {
	font-style: inherit;
}

/* HTML */ 
html[noclass] {
	position: relative;
	height: auto;
	width: auto;
	overflow-x: hidden;
}

/* Body */
*[noclass] body {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Main */
*[noclass] main {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-start;
	flex-flow: column;
	width: 100%;
}

*[noclass] main > section {
	display: block;
	position: relative;
	width: 100%;
}

*[noclass] figure {
	margin: 0;
}

/* Hidden */
*[noclass] *[hidden] {
	display: none !important;
}

/* Disabled */
*[noclass] *[disabled] {
	cursor: default !important;
}

