/* Global */
*[noclass] * {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}

/* HTML */ 
html[noclass] {
	position: relative;
	height: auto;
	width: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Border Box Defaults */
*[noclass] blockquote, 
*[noclass] footer, 
*[noclass] header, 
*[noclass] div, 
*[noclass] nav, 
*[noclass] iframe, 
*[noclass] section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

*[noclass] a, 
*[noclass] label {
	cursor: pointer;
}

*[noclass] i, 
*[noclass] address, 
*[noclass] dfn {
	font-style: inherit;
}

/* Body */
*[noclass] body {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Main & Main Sections */
*[noclass] main {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-start;
	flex-flow: column;
	width: 100%;
}

*[noclass] main > section {
	display: block;
	position: relative;
	width: 100%;
}

/* Fieldsets & Legends */
*[noclass] fieldset {
	border: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 32px; margin-bottom: calc(var(--gutter, 16px) * 2);
	margin-left: 0;
	margin-right: 0;
}

*[noclass] legend {
	margin-bottom: 32px; margin-bottom: calc(var(--gutter, 16px) * 2);
}

/* Iframes */
*[noclass] iframe {
    padding: 0;
    margin: 0;
    display: block;
    border: none;
    box-shadow: none;
    max-width: 100%;
    position: relative;
}

/* Figures & Figure Captions */
*[noclass] figure {
	margin: 0;
}

/* Horizontal Rules */
*[noclass] hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	height: 2px;
	margin-top: 32px; margin-top: calc(var(--gutter, 16px) * 2);
	margin-bottom: 32px; margin-bottom: calc(var(--gutter, 16px) * 2);
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	display: block;
}

/* Hidden */
*[noclass] *[hidden] {
	display: none !important;
}

/* Disabled */
*[noclass] *[disabled] {
	cursor: default !important;
}
