/* Backdrop */
*[noClass] section[backdrop] {
	min-height: 72vh;
	margin-bottom: -36vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}