/* Button */

*[noclass] button {
    background-color: rgba(0, 0, 0, 0.1);
    color: inherit;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 64px;
    height: 36px;
    padding: 0 16px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
	cursor: pointer;
	-webkit-user-select: none;       
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

*[noclass] button[disabled] {
	opacity: 0.5;
	cursor: normal;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
}

/* Capsule */
*[noclass] button[capsule] {
    border-radius: 18px;
    padding-left: 0;
}

*[noclass] button[capsule] > i {
    display: block;
    height: 36px;
    width: 36px;
    line-height: 36px;
    margin-right: 16px;
    border-radius: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

*[noclass] button[capsule] > span {

}