/* Colors */

/* Black */
*[noclass] *[c="black"]              { color: black !important; }
*[noclass] *[b="black"]              { border-color: black !important; }
*[noclass] *[bg="black"]             { background-color: black !important; }
/* White */
*[noclass] *[c="white"]              { color: white !important; }
*[noclass] *[b="white"]              { border-color: white !important; }
*[noclass] *[bg="white"]             { background-color: white !important; }
/* Primary */
*[noclass] *[c="primary"]            { color: midnightblue !important; }
*[noclass] *[b="primary"]            { border-color: midnightblue !important; }
*[noclass] *[bg="primary"]           { background-color: midnightblue !important; }
*[noclass] *[c="primary-contrast"]   { color: lightblue !important; }
*[noclass] *[b="primary-contrast"]   { border-color: lightblue !important; }
*[noclass] *[bg="primary-contrast"]  { background-color: lightblue !important; }
/* Accent */
*[noclass] *[c="accent"]             { color: deeppink !important; }
*[noclass] *[b="accent"]             { border-color: deeppink !important; }
*[noclass] *[bg="accent"]            { background-color: deeppink !important; }
*[noclass] *[c="accent-contrast"]    { color: lightpink !important; }
*[noclass] *[b="accent-contrast"]    { border-color: lightpink !important; }
*[noclass] *[bg="accent-contrast"]   { background-color: lightpink !important; }
/* Dark */
*[noclass] *[c="dark"]               { color: darkslategrey !important; }
*[noclass] *[b="dark"]               { border-color: darkslategrey !important; }
*[noclass] *[bg="dark"]              { background-color: darkslategrey !important; }
*[noclass] *[c="dark-contrast"]      { color: whitesmoke !important; }
*[noclass] *[b="dark-contrast"]      { border-color: whitesmoke !important; }
*[noclass] *[bg="dark-contrast"]     { background-color: whitesmoke !important; }
/* Light */
*[noclass] *[c="light"]              { color: whitesmoke !important; }
*[noclass] *[b="light"]              { border-color: whitesmoke !important; }
*[noclass] *[bg="light"]             { background-color: whitesmoke !important; }
*[noclass] *[c="light-contrast"]     { color: darkslategrey !important; }
*[noclass] *[b="light-contrast"]     { border-color: darkslategrey !important; }
*[noclass] *[bg="light-contrast"]    { background-color: darkslategrey !important; }