*[noclass] aside[drawer] {
    display: block !important;
    position: fixed;
    left: -416px;
    max-width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 90%;
    -webkit-transition: left 0.25s ease-in-out;
    -moz-transition: left 0.25s ease-in-out;
    -ms-transition: left 0.25s ease-in-out;
    -o-transition: left 0.25s ease-in-out;
    transition: left 0.25s ease-in-out;
}

*[noclass] aside[drawer] > header {
    min-height: 256px;
    justify-content: flex-end;
}

*[noclass] aside[drawer] > header > section:first-of-type {
    margin-bottom: auto;
}

*[noclass] aside[drawer] > header > section:last-of-type {
    margin-bottom: 16px; margin-bottom: var(--gutter, 16px);
}

*[noclass] input[toggle-trigger]:checked + aside[drawer] {
    left: 0px;
}

*[noclass] label[drawer-overlay] {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

*[noclass] input[toggle-trigger]:checked + *[toggle-target] + label[drawer-overlay] {
    opacity: 0.8;
    pointer-events: all;
}