/* Form Fields */

/* Placeholders */
*[noclass] ::-webkit-input-placeholder { color: inherit; opacity: 0.5; }
*[noclass] ::-moz-placeholder          { color: inherit; opacity: 0.5; }
*[noclass] :-ms-input-placeholder      { color: inherit; opacity: 0.5; }
*[noclass] :-moz-placeholder           { color: inherit; opacity: 0.5; }

/* Fieldsets */
*[noclass] fieldset {
    border: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 16px; margin-bottom: var(--gutter, 16px);
    margin-left: 0;
    margin-right: 0;
}

/* Labels */
*[noclass] label {
	cursor: pointer;
	-webkit-user-select: none;       
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;
}

/* Inputs & Selects */
*[noclass] select, 
*[noclass] input {
	margin-top: 0;
    margin-bottom: 16px; margin-bottom: var(--gutter, 16px);
    margin-left: 0;
    margin-right: 0;
	background-color: transparent;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid;
	color: inherit;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	font-size: inherit;
}

*[noclass] select[disabled], 
*[noclass] input[disabled], 
*[noclass] select[disabled]:hover, 
*[noclass] input[disabled]:hover, 
*[noclass] select[disabled]:active, 
*[noclass] input[disabled]:active {
	cursor: normal;
} 

*[noclass] select[disabled], 
*[noclass] input[disabled], 
*[noclass] select[disabled]:hover, 
*[noclass] input[disabled]:hover, 
*[noclass] select[disabled]:active, 
*[noclass] input[disabled]:active, 
*[noclass] select, 
*[noclass] input {
	border-color: rgba(0, 0, 0, 0.1);
}

*[noclass] select:active,
*[noclass] select:focus,
*[noclass] input:active,
*[noclass] input:focus {
	border-color: inherit;
}
