/* Footer */

*[noclass] footer {
	position: relative;
	display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

*[noclass] footer > section {
	position: relative;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
}

/**[noclass] footer > section > h1, 
*[noclass] footer > section > h2, 
*[noclass] footer > section > h3, 
*[noclass] footer > section > h4, 
*[noclass] footer > section > h5, 
*[noclass] footer > section > h6, 
*[noclass] footer > section > p {
	display: inline-block;
}*/