/* Footer */

*[noClass] footer {
	position: relative;
	display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

*[noClass] footer > section {
	padding-left: 16px;
	padding-right: 16px;
}
*[noClass] footer > section > h1, 
*[noClass] footer > section > h2, 
*[noClass] footer > section > h3, 
*[noClass] footer > section > h4, 
*[noClass] footer > section > h5, 
*[noClass] footer > section > h6 {
	margin: 0;
	padding: 16px;
	display: inline-block;
}