/*!
 * Hamburgers
 * @description Hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
*[noclass] figure[hamburger] {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; 
}

*[noclass] figure[hamburger] > label {
  display: block;
  padding: 16px;
}

*[noclass] figure[hamburger] > label > span {
  width: 40px;
  height: 24px;
  display: block;
  position: relative; 
}

*[noclass] figure[hamburger] > label > span > i {
  display: block;
  top: 50%;
  margin-top: -2px; 
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

*[noclass] figure[hamburger] > label > span > i, 
*[noclass] figure[hamburger] > label > span > i:before, 
*[noclass] figure[hamburger] > label > span > i:after {
  width: 40px;
  height: 4px;
  border-radius: 1px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; 
}

*[noclass] figure[hamburger] > label > span > i:before, 
*[noclass] figure[hamburger] > label > span > i:after {
  content: '';
  display: block; 
  background-color: inherit;
}

*[noclass] figure[hamburger] > label > span > i:before {
  top: -10px; 
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

*[noclass] figure[hamburger] > label > span > i:after {
  bottom: -10px; 
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

*[noclass] figure[hamburger] > input[type="checkbox"] {
  display: none;
}

/* Active */
*[noclass] figure[hamburger] > input[type="checkbox"]:valid + label > span > i {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

*[noclass] figure[hamburger] > input[type="checkbox"]:valid + label > span > i:before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

*[noclass] figure[hamburger] > input[type="checkbox"]:valid + label > span > i:after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

*[noclass] figure[hamburger] figcaption {
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

