/* Header & Footer */
*[noclass] header {
	position: relative;
	display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

*[noclass] header > section {
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
}

*[noclass] header > section > h1, 
*[noclass] header > section > h2, 
*[noclass] header > section > h3, 
*[noclass] header > section > h4, 
*[noclass] header > section > h5, 
*[noclass] header > section > h6 {
	margin: 0;
	padding: 16px;
	display: inline-block;
}