/* Header & Footer */
*[noClass] header {
	position: relative;
	display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

*[noClass] header > section {
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

*[noClass] header > section > h1, 
*[noClass] header > section > h2, 
*[noClass] header > section > h3, 
*[noClass] header > section > h4, 
*[noClass] header > section > h5, 
*[noClass] header > section > h6 {
	margin: 0;
	padding: 16px;
	display: inline-block;
}

*[noClass] header a {
	color: inherit;
}