/* Global */
*[noclass] * {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

*[noclass] footer, 
*[noclass] header, 
*[noclass] div, 
*[noclass] section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* HTML */ 
html[noclass] {
    position: relative;
    height: auto;
    width: auto;
}

/* Body */
*[noclass] body {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Main */
*[noclass] main {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    width: 100%;
}

*[noclass] main > section {
    display: block;
    position: relative;
    width: 100%;
}

/* Helpers */
*[noclass] *[hidden] {
    display: none !important;
}