/* Global */
*[noclass] * {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    border-color: rgba(0, 0, 0, 0.1);
}

*[noclass] footer, 
*[noclass] header, 
*[noclass] div, 
*[noclass] section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* HTML */ 
html[noclass] {
    position: relative;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

/* Body */
*[noclass] body {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* Main */
*[noclass] main {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    width: 100%;
}

*[noclass] main > section {
    display: block;
    position: relative;
    width: 100%;
}

*[noclass] figure {
    margin: 0;
}

/* Hidden */
*[noclass] *[hidden] {
    display: none !important;
}

/* Contain */
*[noclass] *[contain] {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* Darken */
*[noclass] *[darken] {
    position: relative;
}

*[noclass] *[darken]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
}

*[noclass] *[darken="inherit"]:before {
    background-color: inherit;
}