/* Global */
*[noclass] * {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    border-color: rgba(0, 0, 0, 0.1);
}

*[noclass] footer, 
*[noclass] header, 
*[noclass] div, 
*[noclass] nav, 
*[noclass] section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* HTML */ 
html[noclass] {
    position: relative;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

/* Body */
*[noclass] body {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Main */
*[noclass] main {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    width: 100%;
}

*[noclass] main > section {
    display: block;
    position: relative;
    width: 100%;
}

*[noclass] figure {
    margin: 0;
}

/* Hidden */
*[noclass] *[hidden] {
    display: none !important;
}

/* Contain */
*[noclass] *[contain] {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 16px;  padding-left: var(--gutter, 16px);
    padding-right: 16px; padding-right: var(--gutter, 16px);
}

/* Darken */
*[noclass] *[darken] {
    position: relative;
}

*[noclass] *[darken]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
}

*[noclass] *[darken="inherit"]:before {
    background-color: inherit;
}

*[noclass] *[darken] > * {
    position: relative;
}

/* Sticky */
*[noclass] *[sticky] { 
    position: -webkit-sticky !important; 
    position: -moz-sticky !important; 
    position: -ms-sticky !important; 
    position: -o-sticky !important; 
    position: sticky !important; 
} 

*[noclass] *[sticky="top"]    { top: 0; }
*[noclass] *[sticky="bottom"] { bottom: 0 !important; }
*[noclass] *[sticky="left"]   { left: 0 !important; }
*[noclass] *[sticky="right"]  { right: 0 !important; }

/* Margin */
*[noclass] *[hasmargin="all"]    { margin: 16px !important;        margin: var(--gutter, 16px) !important; }
*[noclass] *[hasmargin="top"]    { margin-top: 16px !important;    margin-top: var(--gutter, 16px) !important; }
*[noclass] *[hasmargin="bottom"] { margin-bottom: 16px !important; margin-bottom: var(--gutter, 16px) !important; }
*[noclass] *[hasmargin="left"]   { margin-left: 16px !important;   margin-left: var(--gutter, 16px) !important; }
*[noclass] *[hasmargin="right"]  { margin-right: 16px !important;  margin-right: var(--gutter, 16px) !important; }
*[noclass] *[hasmargin="none"]   { margin: 0 !important; }


/* Padding */
*[noclass] *[haspadding="all"]    { padding: 16px !important;        padding: var(--gutter, 16px) !important; }
*[noclass] *[haspadding="top"]    { padding-top: 16px !important;    padding-top: var(--gutter, 16px) !important; }
*[noclass] *[haspadding="bottom"] { padding-bottom: 16px !important; padding-bottom: var(--gutter, 16px) !important; }
*[noclass] *[haspadding="left"]   { padding-left: 16px !important;   padding-left: var(--gutter, 16px) !important; }
*[noclass] *[haspadding="right"]  { padding-right: 16px !important;  padding-right: var(--gutter, 16px) !important; }
*[noclass] *[haspadding="none"]   { padding: 0 !important; }