*[noclass] nav {
    display: block;
}

*[noclass] nav label, 
*[noclass] nav a {
    border: none;
}

*[noclass] nav > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

*[noclass] nav li {
    position: relative;
}

*[noclass] nav > ul > li {
    display: inline-flex;
    white-space: nowrap;
}

*[noclass] nav > ul > li > label, 
*[noclass] nav > ul > li > a {
    padding: 16px;
    font-weight: bold;
}

*[noclass] nav > ul > li > ul {
	margin: 0;
	padding: 8px 0;
	list-style: none;
	display: none;
	border-radius: 2px;
}

*[noclass] nav > ul > li > ul li {
	width: 100%;
}

*[noclass] nav > ul > li > ul li label, 
*[noclass] nav > ul > li > ul li a {
	height: 1.5;
	padding: 8px 16px;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

*[noclass] nav > ul > li:focus > ul, 
*[noclass] nav > ul > li:active > ul, 
*[noclass] nav > ul > li:hover > ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 200px;
}

/* Tabs */
*[noclass] input[tab-toggle] {
	display: none;
}

*[noclass] input[tab-toggle] + section[tab] {
	display: none;
}

*[noclass] input[tab-toggle]:checked + section[tab] {
	display: block;
}

*[noclass] nav[nav-vertical] {
    margin: 0;
}

*[noclass] nav[nav-vertical] > ul {
    flex-flow: column;
    padding: 8px 0;
}

*[noclass] nav[nav-vertical] > ul > li {
    width: 100%;
    flex-flow: column;
}

*[noclass] nav[nav-vertical] > ul > li label, 
*[noclass] nav[nav-vertical] > ul > li a {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}

*[noclass] nav[nav-vertical] > ul > li:focus > ul, 
*[noclass] nav[nav-vertical] > ul > li:active > ul, 
*[noclass] nav[nav-vertical] > ul > li:hover > ul {
	position: relative;
	top: unset;
	left: unset;
	right: unset;
	bottom: unset;
	width: 100%;
}

*[noclass] nav[nav-vertical] > ul > li a:hover, 
*[noclass] nav[nav-vertical] > ul > li a:active, 
*[noclass] nav[nav-vertical] > ul > li a:focus, 
*[noclass] nav[nav-vertical] > ul > li label:hover, 
*[noclass] nav[nav-vertical] > ul > li label:active, 
*[noclass] nav[nav-vertical] > ul > li label:focus, 
*[noclass] nav > ul > li > ul li label:hover, 
*[noclass] nav > ul > li > ul li label:active, 
*[noclass] nav > ul > li > ul li label:focus, 
*[noclass] nav > ul > li > ul li a:hover, 
*[noclass] nav > ul > li > ul li a:active, 
*[noclass] nav > ul > li > ul li a:focus {
	background-color: rgba(0, 0, 0, 0.1);
}