

/**[noclass] label[toggle-trigger] {
    padding: 16px;
}

*[noclass] label[toggle-trigger] > i {
    display: block;
}*/

*[noclass] input[toggle-trigger]:checked + *[toggle-target] {
    left: 0;
}