@import '_variables.css';

*[noclass] input[toggle-trigger] + *[toggle-target] {
    display: none;
}

*[noclass] input[toggle-trigger]:checked + *[toggle-target] {
    display: block;
}

@media screen and (min-width: 1000px) {
	*[noclass] input[toggle-trigger="mobile-only"] + *[toggle-target] {
	    display: block;
	}
}

@media screen and (max-width: 999px) {
	*[noclass] input[toggle-trigger="desktop-only"] + *[toggle-target] {
	    display: block;
	}
}