/* Google Fonts - Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
/* Google Fonts - Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Typography */
*[noclass] body {
	font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

/* Anchors */
*[noclass] a {
	display: inline-block;
	font-weight: bolder;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	-webkit-user-select: none;       
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;
	border-bottom: 2px solid;
}

*[noclass] a[disabled] {
	color: rgba(0, 0, 0, 0.25);
	border-color: rgba(0, 0, 0, 0.25);
	cursor: normal;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
}

/* Headings */
*[noclass] h1, *[noclass] *[t="h1"], 
*[noclass] h2, *[noclass] *[t="h2"], 
*[noclass] h3, *[noclass] *[t="h3"], 
*[noclass] h4, *[noclass] *[t="h4"], 
*[noclass] h5, *[noclass] *[t="h5"], 
*[noclass] h6, *[noclass] *[t="h6"] {
	margin: 0 0 16px;
	font-weight: inherit;
	font-size: inherit;
	display: block;
	line-height: 1.2;
}

*[noclass] h1 a, *[noclass] *[t="h1"] a, 
*[noclass] h2 a, *[noclass] *[t="h2"] a, 
*[noclass] h3 a, *[noclass] *[t="h3"] a, 
*[noclass] h4 a, *[noclass] *[t="h4"] a, 
*[noclass] h5 a, *[noclass] *[t="h5"] a, 
*[noclass] h6 a, *[noclass] *[t="h6"] {
	font-weight: inherit;
}

*[noclass] h1, *[noclass] *[t="h1"] {	font-size: 42px; }
*[noclass] h2, *[noclass] *[t="h2"] {	font-size: 36px; }
*[noclass] h3, *[noclass] *[t="h3"] {	font-size: 28px; }
*[noclass] h4, *[noclass] *[t="h4"] {	font-size: 22px; }
*[noclass] h5, *[noclass] *[t="h5"] {	font-size: 18px; }
*[noclass] h6, *[noclass] *[t="h6"] {	font-size: 14px; }

/* Paragraph */
*[noclass] p {
	margin: 0 0 16px;
	display: block;
	font-weight: inherit;
	font-size: inherit;
}

*[noclass] strong {
	font-weight: bolder;
}

/* Icons */
*[noclass] i[icon] {
	font-family: 'Material Icons';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga' 1;
	font-style: normal;
	text-transform: none;
	text-align: center;
	line-height: 1;
	font-size: inherit;
	height: auto;
	width: auto;
	display: inline-block;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
}