/* Default */
*[noclass] input[toggle-trigger] + *[toggle-target] {
	display: none;
}

*[noclass] input[toggle-trigger]:checked + *[toggle-target] {
	display: block;
}

*[noclass] input[toggle-trigger]:checked + *[toggle-target="fullscreen"] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    overflow: auto;
}

/* Mobile Only */
@media screen and (min-width: 1000px) {
	*[noclass] input[type="checkbox"][toggle-trigger="mobile"] + *[toggle-target] {
		display: block;
	}
}

/* Desktop Only */
@media screen and (max-width: 999px) {
	*[noclass] input[type="checkbox"][toggle-trigger="desktop"] + *[toggle-target] {
		display: block;
	}
}