*[noclass] *[drawer] {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    flex-flow: column;
    align-items: flex-start;
 	justify-content: flex-start;
	position: fixed;
	left: -416px;
	max-width: 400px;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	width: 90%;
	-webkit-transition: left 0.25s ease-in-out;
	-moz-transition: left 0.25s ease-in-out;
	-ms-transition: left 0.25s ease-in-out;
	-o-transition: left 0.25s ease-in-out;
	transition: left 0.25s ease-in-out;
}

*[noclass] *[drawer] > footer, 
*[noclass] *[drawer] > header {
	display: inherit;
	position: relative;
	flex-flow: column;
	justify-content: flex-start;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

*[noclass] *[drawer] > header {
	min-height: 256px;
	justify-content: flex-end;
}

*[noclass] *[drawer] > section {
	width: 100%;
	position: relative;
	display: inherit;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;
	flex-grow: 1;
}

*[noclass] *[drawer] > footer > section, 
*[noclass] *[drawer] > header > section {
	position: relative;
	display: inherit;
	flex-flow: row;
	align-items: center;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 16px;  padding-left: var(--gutter, 16px);
	padding-right: 16px; padding-right: var(--gutter, 16px);
}

*[noclass] *[drawer] > header > section:first-of-type {
	margin-bottom: auto;
}

*[noclass] input[toggle-trigger]:checked + *[drawer] {
	left: 0px;
}

*[noclass] *[drawer-overlay] {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	width: auto;
	pointer-events: none;
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
}

*[noclass] *[toggle-target] + *[drawer-overlay] {
	opacity: 0.0;
}

*[noclass] input[toggle-trigger]:checked + *[toggle-target] + *[drawer-overlay] {
	opacity: 0.8;
	pointer-events: all;
}

/* Fullscreen */
*[noclass] *[drawer="full"] {
    top: 100%;
    left: 0;
    right: 0;
    bottom: unset;
    height: 100%;
    width: 100%;
    max-width: 100%;
    -webkit-transition: top 0.25s ease-in-out;
    -moz-transition: top 0.25s ease-in-out;
    -ms-transition: top 0.25s ease-in-out;
    -o-transition: top 0.25s ease-in-out;
    transition: top 0.25s ease-in-out;
}

*[noclass] *[drawer="full"] > header {
	min-height: unset;
}

*[noclass] input[toggle-trigger]:checked + *[drawer="full"] {
    top: 0;
}