/* Backdrop */
*[noclass] *[backdrop] {
	width: auto;
	min-height: 500px;
	margin-bottom: -360px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

*[noclass] *[backdrop="stretch"] {
	margin-left:  -16px; margin-left:  calc(var(--gutter,16) - var(--gutter,16) * 2);
	margin-right: -16px; margin-right: calc(var(--gutter,16) - var(--gutter,16) * 2);
}

*[noclass] *[backdrop="full"] {
	margin-left:  -9999px;
	margin-right: -9999px;
}

*[noclass] *[backdrop] + * {
	position: relative;
}